@import url("https://fonts.googleapis.com/css2?family=Newsreader&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: #f3f4f6;
  font-family: "Newsreader", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
